@font-face {
    font-family: 'madeEvolveSansBold';
    src: url('../Assets/Fonts/made_evolve_sans_bold-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/made_evolve_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayLight';
    src: url('../Assets/Fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    height: 100%;
}

.display-1 {
    font-family: "madeEvolveSansBold";
    font-size: 1.3rem;
    color: white;
}

.banner-container {
    /* margin-top: 10px; */
    width: 100%;
    height: auto;
    background:	white;
}

.fluid-img {
    width: 100%;
    height: auto;
    /* margin-top: 75px; */
}


a img {
    width: 120px;
    height: 100%;
    margin-left: 15px;
}

#projects{
    padding-right: 15px;
}

.navbar {
    font-family: "ralewayLight";
    width: 100%;
    padding-left: 0;
    top: -80px;
    position: fixed;
    font-size: 1rem;
    color: white;
    transition: top 0.3s;
    -webkit-transition: top 0.3s;
    -o-transition: top 0.3s;
    -moz-transition: top 0.3s;
    -ms-transition: top 0.3s;
}

#title {
    position: absolute;
    top: 45%;

}

.text-container {
    width: 70%;
    margin-left: 15%;
}

.link-1 {
    font-family: 'ralewayLight';
    margin-top: 14px;
    font-size: 1rem;
}

.text-1{
    font-size: 15px;
    font: "ralewayLight";
    font-weight: lighter;
    color: #676767;
}

.text-2{
    font-size: 20px;
    font: "ralewayLight";
    font-weight: bold;
    color: #142F4F;
}

.text-3 {
    font-size: 15px;
    font: "ralewayLight";
    font-weight: lighter;
    color: #676767;
}

@media (min-width: 576px) {
    .display-1 {
        font-size: 2.5rem;
    }

    a img {
        width: 140px;
    }

    .text-1{
        font-size: 15px;
    }
    
    .text-2{
        font-size: 25px;
    }

    .fluid-img {
        margin-top: 0;
    }
}

@media (min-width: 768px) {
    .display-1 {
        font-size: 3.5rem;
    }

    .navbar {
        font-size: 0.9rem;
        top: 0;
    }

    .text-1{
        font-size: 20px;
    }
    
    .text-2{
        font-size: 30px;
    }
    
    .text-3 {
        font-size: 15px;
    }
}


@media (min-width: 992px) { 
    .display-1 {
        font-size: 4.5rem;
    }

    .navbar {
        font-size: 1.2rem;
    }

    a img {
        width: 150px;
    }

    .link-1 {
        font-size: 1.5rem;
    }

    .text-1{
        font-size: 25px;
    }
    
    .text-2{
        font-size: 35px;
    }
}


@media (min-width: 1200px) {
    .display-1 {
        font-size: 5rem;
    }

    .navbar {
        font-size: 1.5rem;
    }

    .text-1{
        font-size: 30px;
    }
    
    .text-2{
        font-size: 40px;
    }
    
    .text-3 {
        font-size: 20px;
    }
}