@font-face {
    font-family: 'madeEvolveSansBold';
    src: url('../Assets/Fonts/made_evolve_sans_bold-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/made_evolve_sans_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayLight';
    src: url('../Assets/Fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../Assets/Fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body, html {
    height: 115%;
}

.display-1 {
    font-family: "madeEvolveSansBold";
    font-size: 1.5rem;
    color: white;
}

.navbar {
    font-family: "ralewayLight";
    font-size: 1.2rem;
    color: white;
}

#clouds {
    background-image: url("../Assets/Clouds.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#title {
    position: absolute;
    top: 40%;

}

@media (min-width: 576px) {
    .display-1 {
        font-size: 3rem;
    }
}

@media (min-width: 768px) {
    .display-1 {
        font-size: 4rem;
    }
}


@media (min-width: 992px) { 
    .display-1 {
        font-size: 5rem;
    }

    .navbar {
        font-size: 1.5rem;
    }
}


@media (min-width: 1200px) {
    .display-1 {
        font-size: 6rem;
    }
}