html, body {
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.banner-container {
    /* margin-top: 10px; */
    width: 100%;
    height: auto;
    background:	white;
}

.pics-container {
    margin-top: 2rem; 
}

.fluid-img {
    width: 100%;
    height: auto;
    margin-top: 75px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
  }
  
  .column {
    flex: 100%;
    max-width: 100%;
    padding: 0 7px;
  }

  .column-2 {
    flex: 100%;
    max-width: 100%;
    padding: 0 7px;
  }

  
  .column img, .column-2 img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
  }

  .yt-video {
      margin-top: 15px;
      border: 0;
      width: 100%;
      height: 200px;
  }


/* li .nav-link {
    color: black;
} */

.text-container {
    width: 70%;
    margin-left: 15%;
}

.text-1{
    font-size: 15px;
    font: "ralewayLight";
    font-weight: lighter;
    color: #676767;
}

.text-2{
    font-size: 20px;
    font: "ralewayLight";
    font-weight: bold;
    color: #142F4F;
}

.text-3 {
    font-size: 15px;
    font: "ralewayLight";
    font-weight: lighter;
    color: #676767;
}

@media (min-width: 576px){ 
    .text-1{
        font-size: 15px;
    }
    
    .text-2{
        font-size: 25px;
    }

    .yt-video {
        height: 300px;
    }

    .fluid-img {
        margin-top: 0;
    }
    
}

@media (min-width: 768px) { 
    .text-1{
        font-size: 20px;
    }
    
    .text-2{
        font-size: 30px;
    }
    
    .text-3 {
        font-size: 15px;
    }

    .yt-video {
        height: 400px;
    }
}

@media (min-width: 992px) { 
    .text-1{
        font-size: 25px;
    }
    
    .text-2{
        font-size: 35px;
    }

    .yt-video {
        height: 500px;
    }
    
}

@media (min-width: 1200px) { 
    .text-1{
        font-size: 30px;
    }
    
    .text-2{
        font-size: 40px;
    }
    
    .text-3 {
        font-size: 20px;
    }

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .column-2 {
        flex: 33.3%;
        max-width: 33.3%;
    }

    .yt-video {
        height: 800px;
    }

}