html, body {
    overflow-x: hidden;
}

.container-fluid {
    height: 100%;
    width: 100%;
}

.pics-container {
    margin-top: 2rem; 
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 8px;
}
  
.column {
    flex: 100%;
    max-width: 100%;
    padding: 0 7px;
}

.column-2 {
    flex: 100%;
    max-width: 100%;
    padding: 0 7px;
}

  
.column img, .column-2 img {
    margin-top: 15px;
    vertical-align: middle;
    width: 100%;
}

.yt-video {
    margin-top: 15px;
    border: 0;
    width: 100%;
    height: 200px;
}


/* li .nav-link {
    color: black;
} */


@media (min-width: 576px){ 

    .yt-video {
        height: 300px;
    }
    
}

@media (min-width: 768px) { 

    .yt-video {
        height: 400px;
    }
}

@media (min-width: 992px) { 

    .yt-video {
        height: 500px;
    }
    
}

@media (min-width: 1200px) { 

    .column {
        flex: 50%;
        max-width: 50%;
    }

    .column-2 {
        flex: 33.3%;
        max-width: 33.3%;
    }

    .yt-video {
        height: 800px;
    }

}